<div class= "container-fluid" class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://marspresscenter.com/assets_multimedia/logos/Mars_Wrigley_Confectionery/chocolate-balisto_280.png" width="30" height="30" class="d-inline-block align-top" alt="">
      BalistoProject
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
        <div class="menu d-flex">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Page d'acceuil <span class="sr-only">(current)</span></a>
            </li>
          </ul>
      </div>
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Connexion Admin
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="container-fluid">
              <form>
                <div class="form-group">
                  <label for="exampleInputPassword1">Mot de passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Rester connecté</label>
                </div>
                <button type="submit" class="btn btn-primary">Connexion</button>
              </form>
            </div>
          </div>
      </div>
    </div>
  </nav>
</div>
