@import url('https://fonts.googleapis.com/css?family=Poppins');


.logo{
height: 50px;
width: 50px;
}

footer{
  background-color: rgb(57, 114, 35);
  font-family: 'Poppins';
}

p{
  color: beige;
}

a{
  color: beige;
  text-decoration: underline;
}

#objet{
  margin-top: 10px;
  }

#message
{
margin-top: 10px;
}

#iemail
{
  width: 100%;
}

#iobjet{
  width: 100%;
}

textarea
{
  width: 100%;
}

.modal-content {
  background-image: url(Images/paris-manger-bonne-adresse-food-paris-paris-bonne-food-manger-à-paris-adresse-ou-manger-a-paris-paris-bien-manger-blog-14.jpg);

}
