<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card m-2 col-12 col-sm-6 col-lg-4 col-xl-3" style="max-width: 300px;">
                <img class="card-img-top" src="https://static.openfoodfacts.org/images/products/90377297/1.400.jpg" alt="Card image cap Responsive image">
            </div>
        </div>
        <div class="col-sm m-2">
            <h1>{{produit.product_name</h1>
            <hr>
            <div>
                <h3>Caractéristiques du produit : </h3>
                <ul class="list-group">
                    <li class="list-group-item">Dénomination générique : </li>
                    <li class="list-group-item">Quantité : </li>
                    <li class="list-group-item">Conditionnement : </li>
                    <li class="list-group-item">Marques : </li>
                    <li class="list-group-item">Catégories : </li>
                    <li class="list-group-item">Origine des ingrédients : </li>
                    <li class="list-group-item">Code emballeur : </li>
                    <li class="list-group-item">Pays de vente : </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="m-2">
        <h3 class="d-flex justify-content-center">Informations nutritionnelles : </h3>
        <h5 class="m-2">Note nutritionnelle de couleur NutriScore : </h5>
    <hr>
        <h3 class="d-flex justify-content-center">Comparateur : </h3>
        <div class="row m-2">
            <div class="col input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox">
            </div>
            <div class="col input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox">
            </div>
            <div class="col input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox">
            </div>
        </div>
<!-- tableau -->
        <div class="m-2 d-flex justify-content-center">
            <table>
                <tr>
                    <th>Informations nutritionnelles</th>
                    <th>Tel que vendu pour 100 g / 100 ml</th>
                    <th>Tel que vendu par portion (100 g)</th>
                </tr>
                <tr>
                    <td class="table-active">Energie</td>
                    <td class="table-primary">test</td>
                    <td class="table-secondary">test</td>
                </tr>
                <tr>
                    <td class="table-active">Matières grasses / Lipides</td>
                    <td class="table-primary">test</td>
                    <td class="table-secondary">test</td>
                </tr>
                <tr>
                    <td class="table-active">  dont Acides gras saturés</td>
                    <td class="table-primary">test</td>
                    <td class="table-secondary">test</td>
                </tr>
                <tr>
                    <td class="table-active">Glucides</td>
                    <td class="table-primary">test</td>
                    <td class="table-secondary">test</td>
                </tr>
                <tr>
                    <td class="table-active">  dont Sucres</td>
                    <td class="table-primary">test</td>
                    <td class="table-secondary">test</td>
                </tr>
                <tr>
                    <td class="table-active">Fibres alimentaires</td>
                    <td class="table-primary">test</td>
                    <td class="table-secondary">test</td>
                </tr>
                <tr>
                    <td class="table-active">Protéines</td>
                    <td class="table-primary">test</td>
                    <td class="table-secondary">test</td>
                </tr>
                <tr>
                    <td class="table-active">Sel</td>
                    <td class="table-primary">test</td>
                    <td class="table-secondary">test</td>
                </tr>
                <tr>
                    <td class="table-active">  Sodium</td>
                    <td class="table-primary">test</td>
                    <td class="table-secondary">test</td>
                </tr>
                <tr>
                    <td class="table-active">Score nutritionnel expérimental - France</td>
                    <td class="table-primary">test</td>
                    <td class="table-secondary">test</td>
                </tr>
            </table>
        </div>
    </div>
</div>

