<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card m-2 col-12 col-sm-6 col-lg-4 col-xl-3" style="max-width: 300px;">
                <img class="card-img-top" src="https://static.openfoodfacts.org/images/products/90377297/1.400.jpg" alt="Card image cap Responsive image">
            </div>
            <a routerLink="/Comparateur" class="m-4 btn btn-outline-primary btn-lg btn-block" style="max-width: 300px;">Comparer</a>
        </div>
        <div class="col-sm m-2">
            <h1>Nom produit</h1>
            <hr>
            <div>
                <h3>Caractéristiques du produit : </h3>
                <ul class="list-group">
                    <li class="list-group-item">Dénomination générique : </li>
                    <li class="list-group-item">Quantité : </li>
                    <li class="list-group-item">Conditionnement : </li>
                    <li class="list-group-item">Marques : </li>
                    <li class="list-group-item">Catégories : </li>
                    <li class="list-group-item">Origine des ingrédients : </li>
                    <li class="list-group-item">Code emballeur : </li>
                    <li class="list-group-item">Pays de vente : </li>
                </ul>
            </div>
        </div>
    </div>
  <hr>
    <div class="m-2">
        <h3 class="d-flex justify-content-center">Informations nutritionnelles : </h3>

    </div>
  <hr>
    <div class="m-2">
        <h3 class="d-flex justify-content-center">Ingrédients : </h3>
        <h5 class="m-2">Liste des ingrédients : </h5>
        <h5 class="m-2">Additifs : </h5>
    </div>
</div>
