<app-header></app-header>
<app-slideshow></app-slideshow>
<div class="container-fluid">
  <div class="row">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>Explorer les produits par</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" (click)="triByCategory('boissons')"> Boissons</button>
        <button class="dropdown-item" (click)="triByCategory('produits de la mer')"> Produits de la mer</button>
        <button class="dropdown-item" (click)="triByCategory('vins')"> Vins</button>
        <button class="dropdown-item" (click)="triByCategory('compléments alimentaires')">Compléments alimentaires</button>
        <button class="dropdown-item" (click)="triByCategory('farines')"> Farines</button>
        <button class="dropdown-item" (click)="triByCategory('barres protéinées')"> Barres protéinées</button>
        <button class="dropdown-item" (click)="triByCategory('epicerie')"> Epicerie</button>
        <button class="dropdown-item" (click)="triByCategory('tartes à la noix de coco')"> Tartes à la noix de coco</button>
        <button class="dropdown-item" (click)="triByCategory('compotes de poire')"> Compotes de poire</button>
      </div>
    </div>
  </div>
  <div *ngIf="prodTri" class='row'>
    <div class="card m-1 col-12 col-sm-6 col-lg-4 col-xl-3 mx-auto" style="max-width: 270px;" *ngFor="let product of prodTri">
      <div *ngIf="product.images; then image else imageerreur"></div>
      <ng-template #image>
        <div class="card-body">
          <img class="card-img-top" src="https://static.openfoodfacts.org/images/products/{{product.id}}/1.400.jpg" alt="Card image cap Responsive image"
            style="max-height: 250px;">
        </div>
      </ng-template>
      <ng-template #imageerreur>
        <div class="card-body">
          <img class="card-img-top" src="https://via.placeholder.com/300x400" alt="Card image cap Responsive image"
            style="max-height: 250px;">
        </div>
      </ng-template>
      <div class="card-header">
        <h5 class="card-title">{{product.product_name}}</h5>
      </div>
      <div class="card-body">
        <a href="#" class="mx-2 btn btn-outline-primary btn-lg btn-block">Voir</a>
        <a href="#" class="mx-2 btn btn-outline-primary btn-lg btn-block">Comparer</a>
      </div>
    </div>
  </div>
  <div *ngIf="!prodTri" class="row">
    <div class="card m-1 col-12 col-sm-6 col-lg-4 col-xl-3 mx-auto" style="max-width: 270px;" *ngFor="let product of products">
      <div *ngIf="product.images; then image else imageerreur"></div>
      <ng-template #image>
        <div class="card-body">
          <img class="card-img-top" src="https://static.openfoodfacts.org/images/products/{{product.id}}/1.400.jpg" alt="Card image cap Responsive image"
            style="max-height: 250px;">
        </div>
      </ng-template>
      <ng-template #imageerreur>
        <div class="card-body">
          <img class="card-img-top" src="https://via.placeholder.com/300x400" alt="Card image cap Responsive image"
            style="max-height: 250px;">
        </div>
      </ng-template>
      <div class="card-header">
        <h5 class="card-title">{{product.product_name}}</h5>
      </div>
      <div class="card-body">
        <a href="#" class="mx-2 btn btn-outline-primary btn-lg btn-block">Voir</a>
        <a href="#" class="mx-2 btn btn-outline-primary btn-lg btn-block">Comparer</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
