@media screen and (min-width: 993px) {
  img {
    max-height: 250px;
    }
  }

  @media screen and (max-width: 992px) {
    img {
      max-height: 200px;
    }
  }
  @media screen and (max-width: 640px) {
    img {
      max-height: 120px;
    }
  }
