<div class="m-2">

  <ngb-carousel #carousel="ngbCarousel" *ngIf="products">
    <ng-template ngbSlide *ngFor="let product of products">
      <div class='d-flex justify-content-around'>
        <div *ngIf="loginService.isLogin" style="position: absolute;">
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Modifier les images du carroussel</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group" *ngFor="let product of products">
                  <div class="input-group">
                    <div class="col-8">
                      <p>Image</p>
                      <input id="image" type="url" class="form-control" name="dp" [(ngModel)]="product.image">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
            </div>
          </ng-template>
          <button class="btn btn-primary btn-xs btn-inline" (click)="open(content)"><img src='../../../Images/logo modifier.png'
              class="figure-img img-fluid rounded logo" alt='#'></button>
        </div>
        <img [src]="product.image" style="width: 100%; max-height:300px; margin:0 auto ">
      </div>
      <div class="carousel-caption">
      </div>
    </ng-template>
  </ngb-carousel>
</div>
