<div class="height: 80% width:80%" style= "margin-top:2em; margin-bottom:2em">
<ngb-carousel #carousel="ngbCarousel" *ngIf="products" background-color: grey>
  <ng-template ngbSlide *ngFor="let product of products">
      <div  class='d-flex justify-content-around'>
          <div *ngIf = "loginService.isLogin" style="position: absolute;">
              <button class="btn btn-primary btn-xs btn-inline"><img src='../../../Images/logo modifier.png' class="figure-img img-fluid rounded logo" alt='#'></button>
              <button class="btn btn-danger btn-xs btn-inline"><img src='../../../Images/logo corbeille.png' class="figure-img img-fluid rounded logo" alt='#'></button>
            </div>
    <img [src]="product.image" style= "width: 100%; max-height:300px; margin:0 auto ">
    </div>
    <div class="carousel-caption">
      <h3>{{product.nom}}</h3>
      <p>
      </p>
    </div>
  </ng-template>
</ngb-carousel>
</div>
