<div *ngIf="loginService.isLogin" class="container-fluid" id="divModifier">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Image produit :</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <img src="{{produit.image}}">
        <input name="image" id="ch.image" class="form-control" type="url" [(ngModel)]="produit.image" placeholder="Url image produit" />
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span class="my-1 d-flex justify-content-center">Nom produit :</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <input name="nom" id="ch.nom" class="form-control" type="text" [(ngModel)]="produit.name" placeholder="Nom produit" />
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Caractéristiques du produit :</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <input name="quantite" id="ch.quantite" class="form-control" type="text" [(ngModel)]="produit.quantite"
        placeholder="quantite" />
        <input name="conditionnement" id="ch.conditionnement" class="form-control" type="text" [(ngModel)]="produit.conditionnement"
        placeholder="Conditionnement" />
        <input name="marques" id="ch.marques" class="form-control" type="text" [(ngModel)]="produit.marque" placeholder="Marque" />
        <input name="categories" id="ch.categories" class="form-control" type="text" [(ngModel)]="produit.categories"
        placeholder="Categorie" />
        <input name="labels" id="ch.label" class="form-control" type="text" [(ngModel)]="produit.label" placeholder="label" />
        <input name="pays" id="ch.pays" class="form-control" type="text" [(ngModel)]="produit.pays" placeholder="Pays" />
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Ingrédients :</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <input name="ingredients" id="ch.ingredients" class="form-control" type="text" [(ngModel)]="produit.ingredients"
        placeholder="Ingredients" />
        <input name="allergenes" id="ch.allergenes" class="form-control" type="text" [(ngModel)]="produit.allergenes"
        placeholder="Allergenes" />
        <input name="nova" id="ch.nova" class="form-control" type="number" [(ngModel)]="produit.nova" placeholder="Nova" />
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Informations nutritionnelles :</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <input name="nutriscore" id="ch.nutriscore" class="form-control" type="text" [(ngModel)]="produit.nutriscore"
        placeholder="Nutriscore" />
        <input name="nutenergy" id="ch.energy" class="form-control" type="text" [(ngModel)]="produit.nutrients.energy"
        placeholder="Energy" />
        <input name="nutlipides" id="ch.lipides" class="form-control" type="text" [(ngModel)]="produit.nutrients.lipids"
        placeholder="Lipids" />
        <input name="nutacides" id="ch.acides" class="form-control" type="text" [(ngModel)]="produit.nutrients.saturated"
        placeholder="Acides gras saturés" />
        <input name="nutglucides" id="ch.glucides" class="form-control" type="text" [(ngModel)]="produit.nutrients.glucides"
        placeholder="Glucides" />
        <input name="nutsucre" id="ch.sucre" class="form-control" type="text" [(ngModel)]="produit.nutrients.sugar"
        placeholder="Sucre" />
        <input name="nutfibres" id="ch.fibres" class="form-control" type="text" [(ngModel)]="produit.nutrients.fibres"
        placeholder="Fibres" />
        <input name="nutproteines" id="ch.proteines" class="form-control" type="text" [(ngModel)]="produit.nutrients.proteines"
        placeholder="Proteines" />
        <input name="nutsel" id="ch.sel" class="form-control" type="text" [(ngModel)]="produit.nutrients.salt"
        placeholder="sel" />
        <input name="nutsodium" id="ch.sodium" class="form-control" type="text" [(ngModel)]="produit.nutrients.sodium"
        placeholder="Sodium" />
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <hr>

  <div class="col-sm m-2 d-flex justify-content-center">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Modification(s) Terminée(s)</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Êtes-vous sûr de vouloir sauvegarder La fiche produit: <br /><span style="color: green" class="text-primary">{{produit.name}}</span>
          ?</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>
          <button type="submit" class="btn btn-success btn-inline" (click)="modal.close(update())">oui,Enregistrer</button>
        </div>
      </ng-template>
      <button type="button" class="m-4 btn btn-outline-secondary btn-lg btn-block" (click)="open(content)" style="max-width: 300px;">Enregistrer</button>
      <button type="cancel" routerLink="/defaut" class="m-4 btn btn-outline-secondary btn-lg btn-block" style="max-width: 300px;">Annuler</button>
    </div>
  </div>

  <div *ngIf="!loginService.isLogin" class="ifNotLogged container" id="NotLogged">
    <br />
    <p class="alert alert-danger w-100 text-center" role="alert">
      Vous n'êtes pas autorisé à accéder à cette page. Vous devez être connecté en tant qu'administrateur.
    </p>
    <div class="row">
      <button routerLink="/defaut" type="button" class="btn btn-primary col-12 offset-md-2 col-md-4 mt-2 mt-md-0">Revenir
        à la page d'acceuil</button>
        <button routerLink="/produits/{{produit.id}}" type="button" class="btn btn-secondary col-12 offset-md-1 col-md-4">Revenir
          sur
          la page Produits</button>
        </div>
        <br />
      </div>
      