@import url('https://fonts.googleapis.com/css?family=Poppins');

#body{
  font-family: 'Poppins';
  background: no-repeat;
  background-image: url(Images/bienmanger.jpg);
  background-size: 100%;
  min-height: 115vh;
}

.btnR, .btnC, .marques, .condi, .aller{
  margin: 10px;
}

.drap{
  height: 50px;
  width: 50px;
}

h5{
  color: #414073;
}

