@import url('https://fonts.googleapis.com/css?family=Poppins');

#body{
  font-family: 'Poppins';
  margin-bottom: 25%;
  margin-top: 5%;
}

.btnR, .btnC, h5, .marques, .condi, .aller{
  margin: 10px;
}

.drap{
  height: 50px;
  width: 50px;
}


