<div class="container">
    <div class="row">
        <div class="col-sm m-2">
            <div class="card m-2 col-12 col-sm-6 col-lg-4 col-xl-3" style="max-width: 300px;">
                <img class="card-img-top" src="https://via.placeholder.com/300x400" alt="Card image cap Responsive image">
            </div>
        </div>
        <div class="col-sm m-2">
            <h1>Nom produit: <input id="typeahead-config" type="text" class="form-control"/></h1>
  <hr>
            <div>
                <h3>Caractéristiques du produit:</h3>
                <ul class="list-group">
                    <li class="list-group-item">Dénomination générique :
                      <input id="typeahead-config" type="text" class="form-control"/>
                    </li>
                    <li class="list-group-item">Quantité :
                      <input id="typeahead-config" type="text" class="form-control"/>
                    </li>
                    <li class="list-group-item">Conditionnement :
                      <input id="typeahead-config" type="text" class="form-control"/>
                    </li>
                    <li class="list-group-item">Marques :
                      <input id="typeahead-config" type="text" class="form-control"/>
                    </li>
                    <li class="list-group-item">Catégories :
                      <input id="typeahead-config" type="text" class="form-control"/>
                    </li>
                    <li class="list-group-item">Labels :
                      <input id="typeahead-config" type="text" class="form-control"/>
                    </li>
                    <li class="list-group-item">Pays de vente :
                      <input id="typeahead-config" type="text" class="form-control"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  <hr>
    <div class="m-2">
        <h3 class="m-2 d-flex justify-content-center">Ingrédients : </h3>
          <h5>Liste des ingrédients: </h5>
            <p><input id="typeahead-config" type="text" class="form-control"/></p>
          <h5>Allergies et intolérances: </h5>
            <p><input id="typeahead-config" type="text" class="form-control"/></p>
          <h5>Groupe NOVA: </h5>
            <p><input id="typeahead-config" type="text" class="form-control"/></p>
  <hr>
        <h3 class="m-2 d-flex justify-content-center">Informations nutritionnelles : </h3>
          <div class="row m-2">
            <div class="col-sm m-2">
              <h5>Note nutritionnelle:</h5>
              <p><input id="typeahead-config" type="text" class="form-control"/></p>
            </div>
            <div class="col-sm m-2">
              <h5>Repères nutritionnels pour 100 g: </h5>
                <ul>
                  <li>Matières grasses / Lipides<input id="typeahead-config" type="text" class="form-control"/></li>
                  <li>Acides gras saturés<input id="typeahead-config" type="text" class="form-control"/></li>
                  <li>Sucres<input id="typeahead-config" type="text" class="form-control"/></li>
                  <li>Sel<input id="typeahead-config" type="text" class="form-control"/></li>
                </ul>
            </div>
          </div>
    </div>
</div>
