<div class="container-fluid">
  <div class="row">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>Explorer les produits par</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri1'> <label class="form-check-label"
            for='cri1'>Critère 1</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri2'> <label class="form-check-label"
            for='cri2'>Critère 2</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Critère 3</label></button>
      </div>
    </div>
  </div>
</div>
