<div class="container-fluid">
  <div class="row">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>Explorer les produits par</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri1'> <label class="form-check-label"
            for='cri1'>Marques</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri2'> <label class="form-check-label"
            for='cri2'>Catégories</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Labels</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Conditionnement</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Origine des ingrédients</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Lieux de fabrication ou de transformation</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Codes emballeurs</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Ingrédients</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Additifs</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Vitamines ajoutées</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Minéraux ajoutés</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Acides aminés ajoutés</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Nucléotides ajoutés</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Autres substances nutritives ajoutées</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Allergenes</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Traces</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Groupe NOVA</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Notes nutritionnelles</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Langues</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Contributeurs</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Etats</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Dates d'ajout</label></button>
        <button class="dropdown-item"><input class="form-check-input" type="checkbox" id='cri3'> <label class="form-check-label"
            for='cri3'>Dates de dernière modification</label></button>
      </div>
    </div>
  </div>
</div>
