<!--comparateur-->
<h1 class="d-flex justify-content-center">Comparateur : </h1>
<!-- tableau -->
<hr>
<div class="d-flex justify-content-center">
  <div class="row">
    <table class=" col-12 col-sm-6 col-lg-4 col-xl-3 m-4 d-flex justify-content-center">
        <tr class="m-4 d-flex justify-content">
            <th>Informations nutritionnelles</th>
        </tr>
        <tr>
            <td class="table-active">Energie</td>
        </tr>
        <tr>
            <td class="table-active">Matières grasses / Lipides</td>
        </tr>
        <tr>
            <td class="table-active">  dont Acides gras saturés</td>
        </tr>
        <tr>
            <td class="table-active">Glucides</td>
        </tr>
        <tr>
            <td class="table-active">  dont Sucres</td>
        </tr>
        <tr>
            <td class="table-active">Fibres alimentaires</td>
        </tr>
        <tr>
            <td class="table-active">Protéines</td>
        </tr>
        <tr>
            <td class="table-active">Sel</td>
        </tr>
        <tr>
            <td class="table-active">  Sodium</td>
        </tr>
    </table>

    <table class=" col-12 col-sm-6 col-lg-4 col-xl-3 m-4 d-flex justify-content-center">
        <tr class="m-4 d-flex justify-content-center">
            <th>{{produit.name}}*</th>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.energy}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.lipides}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.saturated_fat}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.glucides}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.sugar}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.fibres_alimentaires}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.proteines}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.salt}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.sodium}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td></td>
        </tr>
    </table>

    <table class=" col-12 col-sm-6 col-lg-4 col-xl-3 m-4 d-flex justify-content-center">
        <tr class="m-4 d-flex justify-content-center">
            <th>
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-secondary btn-lg btn-block" id="dropdownBasic1" ngbDropdownToggle>Choisissez un produit</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button  (click)="getProduitByName(produit.name)" *ngFor="let produit of tabComp" class="dropdown-item">{{produit.name}}</button>
                    </div>
                </div>
            </th>
        </tr>

        <tr class="d-flex justify-content-center">
          <td>{{produit.valeure_nutritionnelle.energy}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.lipides}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.saturated_fat}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.glucides}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.sugar}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.fibres_alimentaires}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.proteines}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.salt}}</td>
        </tr>
        <tr class="d-flex justify-content-center">
            <td>{{produit.valeure_nutritionnelle.sodium}}</td>
        </tr>
      </table>
    </div>
</div>
<p>* Tel que vendu pour 100 g / 100 ml</p>

