<!--comparateur-->
<h1 class="d-flex justify-content-center">Comparateur : </h1>
<!-- tableau -->

<div>
    <ul class="row d-flex justify-content-center">
        <li class="mx-5 my-3">Informations nutritionnelles</li>
        <li class="mx-5 my-3">{{produitA.name}}*</li>
        <li class="mx-5">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-secondary btn-lg btn-block" id="dropdownBasic1" ngbDropdownToggle>Choisissez un produit</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button  (click)="getProduitB(produitComp.id)" *ngFor="let produitComp of tabComp" class="dropdown-item">{{produitComp.name}}</button>
                </div>
            </div>
        </li>
    </ul>
</div>

<hr>

<div class="row">
    <div class="espace">
        <ul>
            <li>Energie</li>
            <li>Matières grasses / Lipides</li>
            <li>  dont Acides gras saturés</li>
            <li>Glucides</li>
            <li>  dont Sucres</li>
            <li>Fibres alimentaires</li>
            <li>Protéines</li>
            <li>Sel</li>
            <li>  Sodium</li>
        </ul>
    </div>
    <div>
        <ul class="espacecentre">
            <li>{{produitA.valeure_nutritionnelle.energy}}</li>
            <li>{{produitA.valeure_nutritionnelle.lipides}}</li>
            <li>{{produitA.valeure_nutritionnelle.saturated_fat}}</li>
            <li>{{produitA.valeure_nutritionnelle.glucides}}</li>
            <li>{{produitA.valeure_nutritionnelle.sugar}}</li>
            <li>{{produitA.valeure_nutritionnelle.fibres_alimentaires}}</li>
            <li>{{produitA.valeure_nutritionnelle.proteines}}</li>
            <li>{{produitA.valeure_nutritionnelle.salt}}</li>
            <li>{{produitA.valeure_nutritionnelle.sodium}}</li>
        </ul>
    </div>
    <div>
        <ul class="espacefin">
            <li>{{produitB.valeure_nutritionnelle.energy}}</li>
            <li>{{produitB.valeure_nutritionnelle.lipides}}</li>
            <li>{{produitB.valeure_nutritionnelle.saturated_fat}}</li>
            <li>{{produitB.valeure_nutritionnelle.glucides}}</li>
            <li>{{produitB.valeure_nutritionnelle.sugar}}</li>
            <li>{{produitB.valeure_nutritionnelle.fibres_alimentaires}}</li>
            <li>{{produitB.valeure_nutritionnelle.proteines}}</li>
            <li>{{produitB.valeure_nutritionnelle.salt}}</li>
            <li>{{produitB.valeure_nutritionnelle.sodium}}</li>
        </ul>
    </div>
</div>

<p class="d-flex justify-content-center">* Tel que vendu pour 100 g / 100 ml</p>
<div class="d-flex justify-content-center">
    <img src="http://www.mangerbouger.fr/var/inpes_site/storage/images/les-9-reperes/les-9-reperes-a-la-loupe/fruits-et-legumes/42065-1-fre-FR/Fruits-et-Legumes.jpg">
</div>

